<div class= 'cabeza'>
<h1>Listado de Pacientes</h1>
<button [routerLink]="['/insertar']" routerLinkActive="router-link-active" > Insertar </button>
</div>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Identifición</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Dirección</th>
            <th>Médico</th> 
            <th>Tipo de paciente</th>
            <th>Fecha de inscripción</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
            <tr>
            
</tr>
</tbody>
</table>

