<h1>Insertar Paciente</h1>
<form action="">
<div>
    <Label>Nombres y Apellidos: </Label>
    <input type="text" name="Nombres y Apellidos">
    <label>Direccion: </label>
    <input type="text" name="Direccion">
</div>
<br>
<div>
    <label>Numero de identificacion: </label>
    <input type="number" name="identificacion">
    <label>Edad: </label>
    <input type="number" name="edad">
    <label>Sexo: </label>
    <select>
        <option>Femenino</option>
        <option>Masculino</option>
    </select> 
    <label>Raza: </label>
    <select>
        <option>Blanca</option>
        <option>Negra</option>
        <option>Mestiza</option>
    </select>
</div>
<br>
<div>
    <label>Medico encargado: </label>
    <input type="text" name="medico">
    <label>Tipo de paciente: </label>
    <select name="tipo">
        <option>Temporal</option>
        <option>Prolongado</option>
        <option>Consulta</option>
    </select>
</div>
<br>
<div>
    <label>Fecha de inscripcion: </label>
    <input type="date" name="Fecha" id="input" class="form-control" value="" required="required" title="">
    
</div>
<br>

<div>
    <label>Tratamiento: </label>
    <br>
    <br>
    <textarea name="Observaciones" id="" cols="100" rows="8"></textarea>
</div>
</form>
<br>
<button>Guardar</button>
