/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./Img/cerca-modelo-dientes-blancos-goma-roja-espejo-dental-fondo-borroso_39526-287.jpg)
    ;
    background-repeat: no-repeat ;
    background-size: cover
}